
.job_page {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 30px;
  flex-wrap: wrap;
  background-color: #000;
  color: white;
}
.sidebar {
  background-color: #000;
  color: #fff;
  padding: 16px;
  border-radius: 8px;
  flex-shrink: 0;
  width: 250px;
}

.sidebar h3,
.sidebar label,
.sidebar select {
  color: #fff;
}

.sidebar input[type="checkbox"] {
  transform: scale(1.2);
  margin-right: 6px;
  accent-color: white;
}

@media (min-width: 1024px) {
  .sidebar input[type="checkbox"] {
    transform: scale(1.5);
  }
}

.job_listings {
  flex: 1;
}

.job_cards {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  padding: 30px;
}


.job_card {
  background-color: #000;
  color: #fff;
  border: 2px solid #47ecec;
  border-radius: 12px;
  padding: 16px;
  width: 100%;
  max-width: 500px;
  box-shadow: 0 0 9px skyblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.2s ease;
}
.sidebar h3{
  color: skyblue;
  font-size: 27px;
  font-weight: bold;
}
.job_card h3,
.job_card p,
.job_card span {
  color: #fff;
}
.job_tags {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  margin: 8px 0;
}
.job_tags span {
  background-color: #222;
  border-radius: 4px;
  padding: 4px 8px;
  font-size: 12px;
}
.job_card img,
.card__avatar {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 12px;
  max-width: 100%;
}

.job_buttons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.job_buttons button {
  background-color: transparent;
  border: 1px solid rgb(62, 232, 218);
  color: white;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 19px;
}

.job_buttons button:hover {
  background-color: white;
  color: black;
}
@media (max-width: 768px) {
  .job_page {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    font-size: 22px;
  }

  .job_card {
    max-width: 100%;
  }

  .sidebar input[type="checkbox"] {
    transform: scale(1.4);
  }
}
