.portal_container{
    background-color: black;
    color: white;
    padding-bottom: 50px;
   
}
.filt{
    display: flex;
}
.sidebar{
    padding-top: 130px;
}
.search_bar{
    display: flex;
    justify-content:space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 50px;
}
.search_bar button
{
    background-color: rgb(3, 86, 120);
    color: white;
    width: 150px;
    height: 50px;
    font-size: 28px;
    font-weight: 800;
}


@media (max-width: 768px) {
  .portal_container {
    flex-direction: column;
  }
}
