.box{
    border: 1px solid;
    width: 500px;
    height: 800px;  
    background-color: white;
    border-radius: 15px;
   display: flex;
   flex-direction: column;
  padding: 30px;
  position: absolute;
  left: 13%;
   box-shadow: 0 4px 12px rgba(0, 0, 5, 0.17);
}

.sig{
    display: flex;
     align-items: center;
    justify-content: center;
     width: 500px;
    height: 500px;
    height: 100vh;
}
.st{
    font-size: 21px;
}
.la{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    width: 400px;
}
@media screen and (min-width:768px){
   .box{
   position: absolute;
  left: 24%;

}
   }
@media screen and (min-width:1025px){
   .box{
   position: absolute;
  left: 37%;

}
   }
.popup-notification {
    position: fixed;
    top: 20%;
 left: 50%;
    padding: 15px 25px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    animation: slideIn 0.5s, fadeOut 0.5s 2.5s;
}

.popup-notification.success {
    background-color: #4CAF50;
}

.popup-notification.error {
    background-color: #f44336;
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
   


